// ----- Import des couleurs -----
@use "../../../styles/variables.scss" as *;

// ----- Version Desktop -----
.language-toggle {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    overflow: hidden;
    margin: 0;
    position: relative;
    height: 20px;
    width: 20px;
    font-weight: 700;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

// ----- Light + Dark Modes -----
.light .language-toggle .english-toggle:hover,
.light .language-toggle .french-toggle:hover {
    transition: 200ms;
    color: $background-color-2-light;
}

.dark .language-toggle .english-toggle:hover,
.dark .language-toggle .french-toggle:hover {
    transition: 200ms;
    color: $background-color-2-dark;
}

// ----- Animation -----
.language-toggle-fr,
.language-toggle-en {

    .english-toggle,
    .french-toggle {
        transition: 500ms;
    }
}

.language-toggle-fr {
    .english-toggle {
        transform: translateX(-80px);
    }

    .french-toggle {
        transform: translateX(-20px);
    }
}

.language-toggle-en {
    .english-toggle {
        transform: translateX(0);
    }

    .french-toggle {
        transform: translateX(-100px);
    }
}