@use "../../styles/variables.scss" as *;

.about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px auto 0 auto;
    max-width: 952px;
    gap: 100px;

    .about-text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 80px;

        .about-description {
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
            max-width: 760px;
        }

        .quote-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 380px;
            margin-left: auto;

            .quote-text {
                display: flex;
                flex-direction: column;
                position: relative;
                line-height: 185%;
                font-weight: 400;
                font-size: 16px;
                font-style: italic;
                text-align: center;

                .quote-first-line,
                .quote-second-line {
                    display: flex;
                    margin: 0 auto;
                }

                .quote-first-line {
                    gap: 4px;
                }

                .left-quote,
                .right-quote {
                    font-style: italic;
                    font-weight: 700;
                    font-size: 24px;
                    height: fit-content;
                }
            }

            .quote-author {
                font-size: 16px;
                font-weight: 600;
                line-height: 185%;
            }
        }
    }

    .stack-container {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

.light .left-quote,
.light .right-quote {
    color: $background-color-2-light;
}

.dark .left-quote,
.dark .right-quote {
    color: $background-color-2-dark;
}

.stack-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .stack-carousel {
        max-width: 940px;
        -webkit-mask-image: radial-gradient(circle at 100%, rgba(0, 0, 0, 0) 10%, currentColor 20%, currentColor 80%, rgba(0, 0, 0, 0) 90%);
        mask-image: linear-gradient(circle at 100%, rgba(0, 0, 0, 0) 10%, currentColor 20%, currentColor 80%, rgba(0, 0, 0, 0) 90%);
        overflow: hidden;

        .carousel-logos {
            width: fit-content;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            position: relative;

            .logos {
                display: inline-block;
                animation: 60s slide infinite linear;
            }

            svg {
                margin: 11px 25px;
                height: 72.5px;
                width: 72.5px;
            }

            &:hover .logos {
                animation-play-state: paused;
            }
        }

        .carousel-logos:before,
        .carousel-logos:after {
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            content: "";
            z-index: 2;
        }

        .carousel-logos:before {
            left: 0;
        }

        .carousel-logos:after {
            right: 0;
        }
    }
}

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .light .carousel-logos {
        fill: $text-color-light;
    }

    .dark .carousel-logos {
        fill: $text-color-dark;
    }