// ----- Import des couleurs -----
@use "../../styles/variables.scss" as *;

//----- Version Desktop -----
.carousel-container {
    position: relative;
    display: flex;
    max-width: 800px;
    width: 100%;
    height: 357px;
    max-height: 357px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

//--- Propriétés pour l'image du Carousel (taille + display none + transition) ---
    .carousel-image {
        display: none;
        width: 100%;
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        transition: 0.5s;
    }

//--- Propriétés pour l'image précédente du Carousel (display flex + TranslateX -100%) ---
    .carousel-image.prev{
        display: flex;
        transform: translateX(-100%);
    }

//--- Propriétés pour l'image actuelle du Carousel (display flex + TranslateX 0) ---
    .carousel-image.active{
        display: flex;
        transform: translateX(0);
    }

//--- Propriétés pour l'image suivante du Carousel (display flex + TranslateX 100) ---
    .carousel-image.next{
        display: flex;
        transform: translateX(100%);
    }

    .carousel-elements {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        z-index: 1;

        .carousel-arrow {
            margin: auto 8px;
            height: 24px;
            color: $text-color-light;
            transition: 0.2s ease-in-out;
            
            &:hover {
                cursor: pointer;
            }
        }

        .carousel-counter {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: -5px;
            z-index: 20;
            gap: 10px;
            height: 20px;
            width: 100%;

            .counter-circle {
                bottom: 0;
                border-radius: 4px;
                height: 8px;
                width: 8px;
                transition: 0.3s ease-in-out;
                background-color: $carousel-counter-color;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// ----- Light / Dark Modes -----
.light {
    .carousel-elements {
        .carousel-counter {
            .active {
                background-color: $background-color-2-light;
            }
        }

        .carousel-arrow:hover {
            color: $background-color-2-light;
        }
    }
}

.dark {
    .carousel-elements {
        .carousel-counter {
            .active {
                background-color: $background-color-2-dark;
            }
        }

        .carousel-arrow:hover {
            color: $background-color-2-dark;
        }
    }
}

//----- Version Mobile -----
@media (max-width: 1048px) {
    // .carousel-container {
    //     .carousel-elements {
    //         .carousel-counter {
    //             display: none;
    //         }
    //     }
    // }
}

@media (max-width: 678px) {
    .carousel-container {
        height: 255px;
    }
}