@use "../../styles/variables.scss" as *;

.stack-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .stack-carousel {
        max-width: 940px;
        -webkit-mask-image: radial-gradient(circle at 100%, rgba(0, 0, 0, 0) 10%, currentColor 20%, currentColor 80%, rgba(0, 0, 0, 0) 90%);
        mask-image: linear-gradient(circle at 100%, rgba(0, 0, 0, 0) 10%, currentColor 20%, currentColor 80%, rgba(0, 0, 0, 0) 90%);
        overflow: hidden;

        .carousel-logos {
            width: fit-content;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            position: relative;

            .logos {
                display: inline-block;
                animation: 60s slide infinite linear;
            }

            svg {
                margin: 11px 25px;
                height: 72.5px;
                width: 72.5px;
            }

            &:hover .logos {
                animation-play-state: paused;
            }
        }

        .carousel-logos:before,
        .carousel-logos:after {
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            content: "";
            z-index: 2;
        }

        .carousel-logos:before {
            left: 0;
        }

        .carousel-logos:after {
            right: 0;
        }
    }
}

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .light .carousel-logos {
        fill: $text-color-light;
    }

    .dark .carousel-logos {
        fill: $text-color-dark;
    }