// ----- Import des couleurs -----
@use "../../../styles/variables.scss" as *;

// ----- Version Desktop -----
#theme-checkbox {
  height: 20px;
  width: 20px;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.theme-switch {
  --size: 20px;
  appearance: none;
  outline: none;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  transition: 500ms, color 200ms ease-in-out;
}

.light .theme-switch {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.75);
  --offset-diagonal: calc(var(--size) * 0.55);
  -webkit-transform: scale(0.60);
  transform: scale(0.60);
  box-shadow:
    inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
  ;
}

// ----- Light / Dark Modes -----
@media (hover:hover) {
  .light .theme-switch:hover {
    color: $background-color-2-light;
    cursor: pointer;
  }
}

@media (hover:hover) {
  .dark .theme-switch:hover {
    color: $background-color-2-dark;
    cursor: pointer;
  }
}