@use "./variables.scss" as *;

* {
    font-family: "Montserrat";
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.content-container {
    max-width: 1440px;
    min-height: calc(100vh - 60px);
    margin: 30px auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.light {
    color: $text-color-light;
}

.dark {
    color: $text-color-dark;
}