$background-color-light: #FFFCF2;
$text-color-light: #252422;
$background-color-2-light: #FF5D73;
$background-color-3-light: #6BBAEC;
$background-color-4-light: #09BC8A;
$input-color-light: #FFFFFF;

$background-color-dark: #252422;
$text-color-dark: #FFFCF2;
$background-color-2-dark: #6BBAEC;
$background-color-3-dark: #5F4BB6;
$background-color-4-dark: #09BC8A;
$input-color-dark: #1B1B1B;

$carousel-counter-color: #252422;
$contact-error-color: #FF5D73;