// ----- Import des couleurs -----
@use "../../styles/variables.scss" as *;

// ----- Version Desktop -----
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .form-title {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        margin: 80px 0 60px 0;
    }

    .contact-form {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        label {
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
        }

        .form-input {
            padding: 9px 10px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            border: none;
            border-radius: 5px;
            margin-top: 4px;
            margin-bottom: 20px;
            box-shadow: 0px 2px 7.8px 0px rgba(0, 0, 0, 0.15);

            &:focus {
                outline: none;
            }
        }

        .is-invalid {
            border: 2px solid $contact-error-color;
            margin-top: 2px;
            margin-bottom: 18px;
        }

        .form-message-input {
            align-items: start;
            text-align: start;
            min-height: 200px;
            resize: none;
        }

        .form-submit-button {
            margin: 0 auto;
            width: 120px;
            border: 2px solid;
            border-radius: 20px;
            height: 40px;
            padding: 8px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background:none;
            transition: 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .Toastify__toast-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;

        .Toastify__toast {
            text-wrap: nowrap;
            width: fit-content!important;

            .Toastify__toast-body {
                font-size: 16px!important;
                font-weight: 600!important;
            }
        }
    }
}

// ----- Light / Dark Modes -----
.light { 
    .contact-form {
        .form-input {
            background-color: $input-color-light;
            color: $text-color-light;
            caret-color: auto;
        }

        .form-submit-button {
            &:hover {
                background-color: $background-color-3-light;
            }
        }
    }

    .form-submit-button:hover {
        background-color: $background-color-3-light;
    }

    .Toastify__toast {
        background-color: $background-color-light!important;
        box-shadow: 2px 8px 18.4px 2px rgba(0, 0, 0, 0.25)!important;

        .Toastify__toast-body {
            color: $text-color-light;
        }
    }
}

.dark {
    .contact-form {
        .form-input {
            background-color: $input-color-dark;
            color: $text-color-dark;
            caret-color: auto;
        }

        .form-submit-button {
            &:hover {
                background-color: $background-color-3-dark;
            }
        }
    }

    .Toastify__toast {
        background-color: $background-color-dark!important;
        box-shadow: 2px 8px 18.4px 2px rgba(0, 0, 0, 0.45)!important;

        .Toastify__toast-body {
            color: $text-color-dark;
        }
    }
}

// ----- Version mobile -----
@media (max-width: 500px) {
    .form-content {
        .form-title {
            font-size: 14px;
            margin: 40px 0 30px 0;
        }
    
        .contact-form {
            label {
                font-size: 14px;
                line-height: 24px;
            }
    
            .form-input {
                margin-bottom: 12px;
            }
        }
    }

    .Toastify {
        width: 100vw!important;
        height: fit-content!important ;
        .Toastify__toast {
            position: fixed;
            bottom: 20px;
            left: 30px!important;
            border-radius: 6px!important;
    
            .Toastify__toast-body {
                font-size: 12px!important;
            }
        }
    }
    
}