@use "../../styles/variables.scss" as *;

header {
    padding: 30px 50px 0 50px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;

    .active {
        font-weight: 700;
    }

    a {
        height: fit-content;

        svg {
            transition: 200ms ease-in-out;
        }

        transition:200ms ease-in-out;
    }

    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .header-center {
        display: flex;
        gap: 60px;
    }

    .header-right {
        display: flex;
        gap: 20px;

        a {
            height: fit-content;
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }

}

.light header {
    color: $text-color-light;

    svg {
        color: $text-color-light;
    }

    svg:hover, a:hover {
        color: $background-color-2-light;
    }
}

.dark header {
    color: $text-color-dark;

    svg {
        color: $text-color-dark;
    }

    svg:hover, a:hover {
        color: $background-color-2-dark;
    }
}