$background-color: #FFFCF2;
$text-color: #252422;
$background-color-2: #FF5D73;
$background-color-3: #6BBAEC;
$background-color-4: #09BC8A;
$input-color: #FFFFFF;
$contact-error: #FF5D73;

* {
    color: $background-color-2;
}