.projects-container {
    display: flex;
    flex-direction: column;
    max-width: 830px;
    margin: 60px auto;

    .projects-year-container {
        margin-left: auto;
        gap: 25px;

        .projects-year {
            margin-left: auto;
            margin-bottom: 15px;
            width: fit-content;
            height: fit-content;
            font-size: 32px;
            font-weight: 700;
        }

        .separator-bar {
            display: flex;
            margin-bottom: 25px;
        }
    }

    .projects-gallery {
        display: grid;
        gap: 30px;
        grid-template-columns: auto auto;
    }
}