// ----- import des variables de couleurs -----
@use "../../styles/variables.scss" as *;

// ----- Desktop -----
.background {
    transition: 300ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: clamp(100vh, 100%, 100%);
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.sticky-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: clamp(100vh, 100%, 100%);
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.light-container {
    top: 0;
    left: 20vw;
    --speed: 80s;
    --easing: cubic-bezier(0.1, 0.2, 0.2, 0.1);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    position: absolute;
    height: 100vh;
    width: 100vh;
}

.left-light,
.right-light {
    --size: 60vh;
    --speed: 60s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    position: relative;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 3));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 60% 60% 30% / 30% 30% 60% 60%;
}

.left-light {
    opacity: 0.9;
    left: 60vw;
}

.right-light {
    right: 30vw;
}

// ----- Light + Dark Modes -----
.light {
    .sticky-bg {
        background-color: $background-color-light;
    }

    .background .left-light {
        background-color: $background-color-2-light;
    }

    .background .right-light {
        background-color: $background-color-3-light;
    }
}

.dark {
    .sticky-bg {
    background-color: $background-color-dark;
    }

    .background .left-light {
        background-color: $background-color-2-dark;
    }

    .background .right-light {
        background-color: $background-color-3-dark;
    }
}

// ----- Responsive -----
@media (max-width: 1200px) {
    .light-container {
        left: 10vw;
    }

    .left-light,
    .right-light {
        --size: 40vh;
    }

    .left-light {
        left: 80vw;
    }
    
    .right-light {
        right: 30vw;
    }
}

@media (max-width: 800px) {
    .light-container {
        left: 0;
    }

    .left-light {
        left: 95vw;
    }
    
    .right-light {
        right: 35vw;
    }
}

@media (max-width: 720px) {
    .light-container {
        left: -10vw;
    }

    .left-light {
        left: 110vw;
    }
    
    .right-light {
        right: 40vw;
    }
}

@media (max-width: 600px) {
    .light-container {
        left: -25vw;
    }

    .left-light {
        left: 110vw;
    }

    .right-light {
        right: 40vw;
    }
}

@media (max-width: 500px) {
    .light-container {
        left: -30vw;
    }

    .left-light {
        left: 120vw;
    }
    
    .right-light {
        right: 50vw;
    }
}

@media (max-width: 430px) {
    .light-container {
        left: -40vw;
    }

    .left-light {
        left: 140vw;
    }
    
    .right-light {
        right: 50vw;
    }
}

@media (max-width: 390px) {
    .light-container {
        left: -45vw;
    }

    .left-light {
        left: 160vw;
    }
    
    .right-light {
        right: 60vw;
    }
}